h1 {
    color: #84087E;
    font-size: 30px;
}

div [name="message"] {
    color: #515151;
}

div [name="author"] {
    color: #515151;
    font-weight: 500;
}

.lastComments-container {
    margin-top: 5vh;
    margin-left: 5.8775%;
    margin-right: 5.8775%;
}

.comments-section-container {
    margin-top: 5vh;
}

.message {
    margin-top: 4.5vh;
    font-size: 68%;
}

.author {
    margin-top: 2.33vh;
    font-size: 68%;
}